.skillsImg{
    width: 7rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 2rem;
}

#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skillsTitle{
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem;
}

.skillsDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
}

.skillsBars{
    margin: 2.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skillsBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    align-items: center;
    border-radius: 0.5rem;
    background: rgb(50,50,50);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
}

.skillsText> p{ 
    font-size: 0.9rem;
    font-weight: 300;
}

@media screen and (max-width:480px) {
    .skillsBar{
        flex-direction: column;
    }
    .skillsImg{
        margin: 0;
        width: 50vw;
    }
    
    
}